.mobabout {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 40px 0;
}

.mobaboutContainer {
  width: 90%;
  margin: auto;
}

.mobaboutHeading {
  display: flex;
  justify-content: center;
}

.mobaboutHeading h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #092f57;
  padding-bottom: 30px;
  text-align: center;
}

.mobaboutContainer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170.6%;
  text-align: center;
  color: #7b7f8c;
  padding: 10px 0;
  margin-bottom: 0;
}

.mobaboutContainer img {
  width: 100%;
  border-radius: 3px;
}

.mobaboutButton {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
