.mobBanner {
  width: 100%;
  margin-bottom: -5px;
  position: relative;
}

.mobBanner img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.absoluteMob {
  position: absolute;
  width: 90%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.whitemobbox {
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  margin: auto;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.whitemobbox h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 170.6%;
  text-align: center;
  text-transform: uppercase;
  color: #092f57;
  padding: 25px 0;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.whitemobbox p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  width: 80%;
  margin: auto;
  font-size: 15px;
  line-height: 170.6%;
  text-align: center;
  color: #092f57;
  padding-bottom: 20px;
}

.bannermobBtn {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  padding-bottom: 30px;
}

ul.slick-dots {
  bottom: 0;
  position: static !important;
}
