.mobcontact {
  width: 100%;
  padding: 40px 0;
}

.mobcontHeading {
  display: flex;
  justify-content: center;
}

.mobcontHeading h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #092f57;
  padding-bottom: 15px;
  text-align: center;
}

.mobcontactInfo {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.mobcontactBox {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.mobcontactBox a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding-left: 5%;
  color: #092f57;
}

.mobcontactBox img {
  width: 40px;
  height: 40px;
}

a.imagemob {
  padding-left: 0 !important;
}
