.mobpath {
  width: 100%;
  padding-top: 70px;
}

.mobpathContainer {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  padding-top: 10px;
}

.mobpathHeading {
  display: flex;
  justify-content: center;
}

.mobpathHeading h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 170.6%;
  color: #092f57;
}

.mobdataBox {
  width: 100%;
  padding: 20px 0;
}

.mobdataBox img {
  width: 100%;
}

.mobdataBox h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 170.6%;
  color: #092f57;
  margin: 0;
  padding: 10px 0;
}

.mobdataBox p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170.6%;
  color: #979797;
}
